pipelines:
  branches:
    develop:
      - step:
          name: Build Android APK
          image: reactnativecommunity/react-native-android
          max-time: 20
          caches:
            - node
            - gradle
            - android-sdk
          script:
            - export ROOT_DIR="appambit_sdk_react_native"
            - export TEST_PROJECT_NAME="appambit_test_app"
            - export ARTIFACT_NAME="app_appambit_testapp"
            - export KEYSTORE_FILE_NAME="appambit.keystore"
            - export ANDROID_SDK_VERSION=35
            - export BUILD_TOOLS_VERSION=35.0.0
            - export ANDROID_NDK_VERSION=27.1.12297006
            
            - |
              FULL_BRANCH="${BITBUCKET_BRANCH}"
              echo "Current branch: $FULL_BRANCH"
              if [[ "$FULL_BRANCH" == alpha/* || "$FULL_BRANCH" == beta/* || "$FULL_BRANCH" == production/* ]]; then
                export TYPE_RELEASE="${FULL_BRANCH%%/*}"
              else
                echo "Branch '$FULL_BRANCH' must start with alpha/, beta/ or production/. Exiting..."
                exit 1
              fi

            - export ANDROID_HOME=/opt/android
            - export ANDROID_SDK_ROOT=/opt/android
            - export PATH="$PATH:/opt/android/cmdline-tools/latest/bin:/opt/android/platform-tools"

            - echo "Accepting SDK licenses..."
            - yes | sdkmanager --licenses

            - echo "Installing Android components..."
            - |
              sdkmanager --install \
                "platform-tools" \
                "platforms;android-${ANDROID_SDK_VERSION}" \
                "build-tools;${BUILD_TOOLS_VERSION}" \
                "ndk;${ANDROID_NDK_VERSION}"

            - echo "Installed Android SDK components:"
            - sdkmanager --list

            - cd $ROOT_DIR/$TEST_PROJECT_NAME/android
            - yarn install
            - echo "$KEYSTORE_BASE64" | base64 -d > $KEYSTORE_FILE_NAME
            - export SIGNING_STORE_PASSWORD=$KEYSTORE_PASSWORD
            - export SIGNING_KEY_ALIAS=$KEY_ALIAS
            - export SIGNING_KEY_PASSWORD=$KEY_PASSWORD

            - chmod +x gradlew
            - ./gradlew assembleRelease --no-daemon

            - APK_FILE=$(find app/build/outputs/apk/release -name "*release*.apk" | head -n 1)
            - DIR=$(dirname "$APK_FILE")
            - NEW_NAME="${ARTIFACT_NAME}_${TYPE_RELEASE}.apk"
            - mv "$APK_FILE" "$DIR/$NEW_NAME"
            - mkdir -p artifacts
            - cp "$DIR/$NEW_NAME" artifacts/
            - ZIP_NAME="${ARTIFACT_NAME}_${TYPE_RELEASE}.zip"
            - zip -j "$ZIP_NAME" "$DIR/$NEW_NAME"
            - mv "$ZIP_NAME" $BITBUCKET_CLONE_DIR/

          artifacts:
            - "*.zip"

      - step:
          name: Upload APK ZIP to Downloads
          image: atlassian/default-image:4
          script:
            - ls -R .
            - pipe: atlassian/bitbucket-upload-file:0.7.5
              variables:
                ATLASSIAN_ACCOUNT_EMAIL: $ATLASSIAN_EMAIL
                ATLASSIAN_API_TOKEN: $ATLASSIAN_API_TOKEN
                FILENAME: "*.zip"

      - step:
          name: Build Flutter IPA
          runs-on:
            - self.hosted
            - macos
          script:
            - export FULL_BRANCH="${BITBUCKET_BRANCH}"
            - echo "Current branch - $FULL_BRANCH"

            - export IOS_INFO_PLIST="ExportOptions.plist"
            - export BUNDLE_IDENTIFIER="com.AppAmbit.TestApp"
            - export IPA_NAME="app_appambit_testapp_ipa"
            - export ROOT_DIR="appambit_sdk_react_native"
            - export TEST_PROJECT_NAME="appambit_test_app"
            - export CONFIGURATION="Release"
            - export SDK="iphoneos"
            - export DESTINATION="generic/platform=iOS"
            - export ARCHIVE_PATH="AppambitExample.xcarchive"
            - export SCHEME="AppambitExample"
            - export WORKSPACE="AppambitExample.xcworkspace"
            - export NODE_VERSION="20"

            - if [[ "$FULL_BRANCH" == alpha/* || "$FULL_BRANCH" == beta/* || "$FULL_BRANCH" == production/* ]]; then
                export TYPE_RELEASE="${FULL_BRANCH%%/*}";
                echo "TYPE_RELEASE=$TYPE_RELEASE";
              else
                echo "Branch '$FULL_BRANCH' must start with alpha/, beta/ or production/. Exiting...";
                exit 1;
              fi

            - export CERTIFICATE_PATH=$BITBUCKET_CLONE_DIR/tmp_certificate.p12
            - export KEYCHAIN_PATH=$BITBUCKET_CLONE_DIR/app-signing.keychain-db
            - export PP_PATH=$BITBUCKET_CLONE_DIR/temp.mobileprovision

            - echo -n "$IOS_P12_CERTIFICATE_BASE64" | base64 -d > $CERTIFICATE_PATH
            - echo -n "$IOS_PROVISIONING_PROFILE_BASE64" | base64 -d > $PP_PATH

            - security create-keychain -p "$IOS_KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
            - security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
            - security unlock-keychain -p "$IOS_KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
            - security list-keychain -d user -s $KEYCHAIN_PATH
            - security import $CERTIFICATE_PATH -P "$IOS_P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
            - security find-identity -v

            - UUID=$(/usr/libexec/PlistBuddy -c "Print UUID" /dev/stdin <<< $(/usr/bin/security cms -D -i $PP_PATH))
            - mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
            - cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles/$UUID.mobileprovision
            - echo "Provisioning profile UUID - $UUID"

            - cd $ROOT_DIR/$TEST_PROJECT_NAME/ios
            - rm -rf ios/Pods
            - rm -rf ios/Podfile.lock
            - yarn install
            - pod install

            - |
              cat > $IOS_INFO_PLIST <<EOF
              <?xml version="1.0" encoding="UTF-8"?>
              <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
              <plist version="1.0">
              <dict>
                <key>compileBitcode</key>
                <true/>
                <key>method</key>
                <string>ad-hoc</string>
                <key>provisioningProfiles</key>
                <dict>
                  <key>${BUNDLE_IDENTIFIER}</key>
                  <string>${IOS_ADHOC_PROFILE}</string>
                </dict>
                <key>signingCertificate</key>
                <string>iPhone Distribution</string>
                <key>signingStyle</key>
                <string>manual</string>
                <key>stripSwiftSymbols</key>
                <true/>
                <key>teamID</key>
                <string>${IOS_APPLE_TEAM_ID}</string>
                <key>thinning</key>
                <string>&lt;none&gt;</string>
              </dict>
              </plist>
              EOF

            - |
              xcodebuild -scheme $SCHEME \
              -archivePath build/$ARCHIVE_PATH \
              -sdk $SDK \
              -configuration $CONFIGURATION \
              -workspace $WORKSPACE \
              -destination $DESTINATION \
              archive

            - |
              xcodebuild -exportArchive \
              -archivePath build/$ARCHIVE_PATH \
              -exportOptionsPlist $IOS_INFO_PLIST \
              -exportPath build

            - |
              ORIGINAL_IPA=$(find build -maxdepth 1 -name "*.ipa" | head -n 1)

              if [ -z "$ORIGINAL_IPA" ]; then
                echo "ERROR: No IPA found after export."
                ls -la build
                exit 1
              fi

              mkdir -p "$BITBUCKET_CLONE_DIR/artifact"
              NEW_IPA_NAME="${IPA_NAME}_${TYPE_RELEASE}.ipa"
              cp "$ORIGINAL_IPA" "$BITBUCKET_CLONE_DIR/artifact/$NEW_IPA_NAME"

              echo "IPA renamed - $NEW_IPA_NAME"

              cd "$BITBUCKET_CLONE_DIR/artifact"
              ZIP_NAME="${IPA_NAME}_${TYPE_RELEASE}.zip"
              zip "$ZIP_NAME" "$NEW_IPA_NAME"

              echo "ZIP created - $ZIP_NAME"
              mv "$ZIP_NAME" "$BITBUCKET_CLONE_DIR/"

          artifacts:
            - "*.zip"

      - step:
          name: Upload IPA ZIP to Downloads
          image: atlassian/default-image:4
          script:
            - pipe: atlassian/bitbucket-upload-file:0.7.5
              variables:
                ATLASSIAN_ACCOUNT_EMAIL: $ATLASSIAN_EMAIL
                ATLASSIAN_API_TOKEN: $ATLASSIAN_API_TOKEN
                FILENAME: "*.zip"

definitions:
  caches:
    android-sdk: /opt/android-sdk